---
import Link from "./Link.astro";
import { Image } from 'astro:assets';
import logo from "../assets/images/logo-red.svg";
---

<section class="pt-lg lg:pt-lg bg-no-repeat bg-cover" style="background-image: url('../../bg-footer-modi.png');">

<div class="pb-s">
    <Image class="w-full h-6xl mx-auto px-lg mb-lg " src={logo} alt="Logo"/>

    <div class="flex flex-row justify-between mx-auto px-s md:px-5xl">
        <div class=""> 
            <h4 class="font-extrabold pb-xs text-black hidden md:block">Kontakt</h4>
            <h5 class="font-extrabold pb-xs text-black block md:hidden">Kontakt</h5>
           <div class=" flex flex-col justify-around">
                <Link href="https://www.instagram.com/fatteroghavmanden/?hl=en"><p class="text-blue-950">Instagram</p></Link>
                <Link href="https://www.facebook.com/fatteroghavmanden/?locale=da_DK"><p class="text-blue-950">Facebook</p></Link>
                <Link href="mailto:fatterhavmand@gmail.com"><p class="text-blue-950">E-mail</p></Link>
           </div>
        </div>

        <div class="text-blue-950 text-right md:text-left"> 
            <h4 class="font-extrabold pb-xs text-black hidden md:block">Sider</h4>
            <h5 class="font-extrabold pb-xs text-black md:hidden block">Sider</h5>
       <div class="flex flex-col items-end md:items-start justify-around ">
        <span></span>
        <Link href="/produktliste"><p class="text-blue-950 ">Katalog</p></Link>
        <Link href="/om-os"><p class="text-blue-950 ">Om os</p></Link>
        <Link href="/folg-med"><p class="text-blue-950 ">Følg med</p></Link>
       </div>
        </div>

       
        <div class="text-blue-950 text-right md:text-left"> 
            <h4 class="font-extrabold pb-xs text-black hidden md:block">Adresse</h4>
            <h5 class="font-extrabold pb-xs text-black md:hidden block">Adresse</h5>
       <div class="flex flex-col items-end md:items-start justify-around ">
        <span></span>
        <Link href="https://www.google.com/maps/place/Fatter+%26+Havmanden/@55.6972341,12.5530688,17z/data=!3m1!4b1!4m6!3m5!1s0x46525349900f37b1:0x78a3e82b17689ce6!8m2!3d55.6972311!4d12.5556437!16s%2Fg%2F11v6sy0vrk?entry=ttu&g_ep=EgoyMDI1MDUyMS4wIKXMDSoASAFQAw%3D%3D"><p class="text-blue-950 ">Arresøgade 14<br>2200 København</p></Link>
       </div>
        </div>

    </div>

    <div class="flex flex-row justify-between mx-auto px-ml mt-ml">
        <div class="flex flex-col content-center md:content-end">
            <div class="flex flex-row pb-xxs md:justify-end pl-s">
                
            </div>
            <p class="text-konsultativMobile text-red-950 pl-ml">© Fatter & Havmanden. 2025, alle rettigheder CVR 123456789</p>

        </div>
    </div>

</div>

</section>