---
import { Image } from 'astro:assets';
import bgContainerDesktop from "../assets/images/header-bg-modi.png";
import bgContainerMobile from "../assets/images/mobile-h-modi.png";
---
<div class="w-screen overflow-clip relative hidden md:block">
     <Image src={bgContainerDesktop} class="z-50 w-full" alt="billede af grøn markise til desktop header"></Image>
</div>
<div class="w-screen overflow-clip relative pc-hide">
     <Image src={bgContainerMobile} class="z-50 w-full" alt="billede af grøn markise til mobile header"></Image>
</div>
